:root {
    --redColor: #f72d56;
    --white: #ffffff;
    --background-form-color: #f8f8f8;
    --textColor: rgb(22, 22, 22);
    --blue-color: #2C42FD;   
    --pink-color: #FDE3EA;
}

*,
:after,
:before {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: var(--textColor);

}

.container{
    padding-top: 15px;
}

section {
    width: 500px;
    margin: 0 auto;
}

form {
    border: 1px solid var(--redColor);
    background-color: var(--background-form-color);
    padding: 20px 10px;
}

form label {
    display: block;
    font-weight: 700;
}

form .row {
    margin-bottom: 20px;
    width: 400px;
}


textarea:focus, input:focus{
    outline: none;

}


form input[type="text"],input[type="number"] {
    width: 100%;
    padding: 4px;
}

textarea{
    width: 100%;
    height: 80px;
    vertical-align: bottom;
    padding: 4px;
}

form input[type="submit"]{
    background-color: var(--redColor);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    border: none;
    font-size: 1.1em;


}

.section-projects{
    margin-top:15px;
}

.header-panel{
    background-color: var(--redColor);
    color: #fff;
    text-transform: uppercase;
    padding: 12px 5px;
    text-align: center;
    font-weight: 700;
}

.body-panel{
    background-color: var(--pink-color);
    padding: 20px;
}

.body-panel li{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 5px 10px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body-panel li:not(:last-child){
    margin-bottom:20px;
}

.body-panel h2{
    color: var(--redColor);
    font-size: 1.3em;
    font-weight: 700;    
}

.body-panel h3{
    font-weight: 700;
    
}

.finish-project{
    margin-top:15px;

}

.finish-project .header-panel{
    background-color: var(--blue-color);
}

.finish-project .body-panel{
    background-color: #fff;
    border: 1px solid var(--blue-color);
}

.finish-project ul {
    min-height: 200px;
}

.hide{
    visibility: hidden;
}